<div id="test1" class="container" ng-controller="recommenderController">
  <div class="row">
    <div class="col-xs-6">
        <button ng-click="connectButton()" id="connectButton" type="button" class="cyan lighten-1 waves-effect waves-light btn" style="margin-top: 10em;">Login To Twitter</button>
        <button ng-click="signOut()" id="signOut" type="button" class="pink accent-3 waves-effect waves-light btn"" style="margin-top: 10em; display:none;">Sign Out</button>
    </div>

  </div>
  <div class="row">
      <div class="col-xs-12" id="results">
          <h5>Leaderboard</h5>
              <!-- <ul class="collection" style="margin-bottom: 4em;">
                  <li class="collection-item avatar">
                    <i class="material-icons circle amber darken-1">{{u_rank}}</i>
                    <span class="title">Name: {{u_name}}</span>
                    <p>Followers: {{u_followers}} <br>
                       Friends: {{u_friends}}
                    </p>
                  </li>
              </ul> -->
              <ul class="collection" ng-repeat = "x in influence_list">
                  <li class="collection-item avatar">
                    <span class="title">Name: {{x[0]}}</span>
                    <p>Friends: {{x[2]}}<br>
                       Followers: {{x[3]}}
                    </p>
                  </li>
              </ul>
          <div ng-show="rateLimitError">
              Rate limit reached. You are making too many requests.
          </div>
      </div>
  </div>
</div>
<div id="test2" class="container" ng-controller="recommenderController">
  <div class="row" id="inputform" style="margin-top: 10em;">
    <div class="col-xs-6" id="userinput">
      <div class="input-field col s6">
        <input placeholder="" id="twitteruserid" type="text" class="validate">
        <label for="twitteruserid">Enter a Twitter user id</label>
        <button ng-click="addtolist()" type="button" id="addtolist" class="waves-effect waves-light btn">Add to List</a>
        <button ng-click="submitform()" type="button" id="submitform" class="waves-effect waves-light btn" style="margin-top: 1em;">Submit</a>
      </div>
    </div>
    <div class="col-xs-6">
      <h5>List of Userids</h5>
      <ul class="collection" ng-repeat = "x in user_ids">
        <li class="collection-item avatar">{{x}}</li> 
      </ul>
    </div>
  </div>
  <div class="col-xs-12" id="results">
    <h5>Leaderboard</h5>
    <ul class="collection" ng-repeat = "x in influence_list">
      <li class="collection-item avatar">
        <span class="title">Name: {{x[0]}}</span>
        <p>Friends: {{x[2]}}<br>
           Followers: {{x[3]}}
        </p>
      </li>
    </ul>
  </div>
</div>
  